<ion-modal-view  >
  <ion-header-bar>
    <h1 class="title">Add new {{title}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeAddNew()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="addNew()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Title</span>
          <input type="text" ng-model="myData.title">
        </label>
        <label class="item item-input">
          <span class="input-label">Details</span>
          <input type="password" ng-model="myData.detail">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Add New  {{playlistName}}</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
