<ion-view view-title="{{bank.name}}">
<ion-nav-buttons side="right">
   <!-- Toggle left side menu -->
   <button ng-click="openEdit(myData)"  class="button ion-edit"> </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="bank-details"><img src="{{myData.bank.img}}" alt="">
    <table>
      <tbody>
        <tr>
          <td>Name</td>
          <td>{{myData.title}}</td>
        </tr>
        <tr>
          <td>Branch</td>
          <td>{{myData.detail}}</td>
        </tr>
        <tr>
          <td>Account No.</td>
          <td>{{acc}}</td>
        </tr>
      </tbody>
    </table>

<p class="tcenter">
    <a class="share" ng-click="socialShare()" >Share</a>
</p>
    </div>
    <script id="edit-modal.html" type="text/ng-template">

  <ion-modal-view >
      <ion-header-bar>
    <h1 class="title">Edit {{title}}</h1>
    <div class="buttons">
      <button class="button button-clear close ion-close-round" ng-click="closeEdit()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="save(myData)">
      <div class="list">
          <label class="item item-input">
              <span class="input-label">Bank</span>
              <select name="banks" ng-change="update()" ng-options="bank as bank.name for bank in banks" ng-model="myData.bank" id="">
              </select>
          </label>
        <label class="item item-input">
          <span class="input-label">Title</span>
          <input type="text"   ng-model="myData.title">
        </label>
        <label class="item item-input">
          <span class="input-label">Branch</span>
          <input type="text"  ng-model="myData.detail">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Save</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>


</script>





  </ion-content>
</ion-view>
