<ion-view  view-title="{{playlist.title}}">
<ion-nav-buttons side="right">
   <!-- Toggle left side menu -->
   <button ng-click="openAddNew()"  class="button"> Add New {{title}}</button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="playlist in playlists" ui-sref="app.single({playlistId:playlist.id})">
        {{playlist.title}}
        <span>{{playlist.detail}}</span>
      </ion-item>
    </ion-list>


<script id="my-modal.html" type="text/ng-template">


    <ion-modal-view >
  <ion-header-bar>
    <h1 class="title">Add new {{title}}</h1>
    <div class="buttons">
      <button class="button button-clear close" ng-click="closeAddNew()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="addNew(myData.title, myData.detail)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Title</span>
          <input type="text" ng-model="myData.title">
        </label>
        <label class="item item-input">
          <span class="input-label">Details</span>
          <input type="text" ng-model="myData.detail">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Add New  {{playlistName}}</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>


</script>

  </ion-content>
</ion-view>
