.listItems {
	padding: 0 !important;
    a {
        text-decoration: none;
        color: $dark;
        span {
            display: block;
            font-size: 11px;
            color: lighten($dark, 50);
            line-height: 10px;
        }
    }
}
.tcenter{
  text-align: center;}
.share{
  display: block;
  padding: 8px 20px;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  margin: 15px;
  text-transform: uppercase;
  background: darkblue;
}